<main id="main" class="main">
    <div class="pagetitle">
       <h1> Dashboard </h1>
    </div>
    <section class="section dashboard">
       <div class="row">
        <div class="col-12">
            <div class="card top-selling overflow-auto">
               <div class="card-body pb-0">
                  <h5 class="card-title"> 
                    <a routerLink="/bookings/add" class="btn btn-dark">
                      All Data
                   </a>
                </h5> 
               </div>
            </div>
        </div>
        </div>
    </section>
 </main>         