<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
    <!--
       <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i> </a>
          <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
             <li> <a routerLink="/icons-bootstrap"> <i class="bi bi-circle"></i><span>Bootstrap Icons</span> </a></li>
             <li> <a routerLink="/icons-remix"> <i class="bi bi-circle"></i><span>Remix Icons</span> </a></li>
             <li> <a routerLink="/icons-boxicons"> <i class="bi bi-circle"></i><span>Boxicons</span> </a></li>
          </ul>
       </li>
       <li class="nav-heading">Pages</li>
      -->
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/user-profile"> <i class="bi bi-person"></i> <span>Profile</span> </a></li>
       <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-car-front-fill"></i><span>vehicles</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/vehicles/add"> <i class="bi bi-circle"></i><span>Add vehicles</span> </a></li>
            <li> <a routerLink="/vehicles/listes"> <i class="bi bi-circle"></i><span>listes vehicles</span> </a></li>
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#"><i class="bi bi-calendar2-check"></i><span>bookings</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/bookings/add"> <i class="bi bi-circle"></i><span>Add bookings</span> </a></li>
            <li> <a routerLink="/bookings/listes"> <i class="bi bi-circle"></i><span>listes bookings</span> </a></li>
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#"><i class="bi bi-people-fill"></i><span>Clients</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/clients/add"> <i class="bi bi-circle"></i><span>Add clients</span> </a></li>
            <li> <a routerLink="/clients/listes"> <i class="bi bi-circle"></i><span>listes clients</span> </a></li>
         </ul>
      </li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-contact"> <i class="bi bi-envelope"></i> <span>Contact</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/login" > <i class="bi bi-box-arrow-in-right"></i> <span>Log out</span> </a></li>
    </ul>
 </aside>